In [1]:
import psycopg2
import sqlalchemy

import pandas as pd
import numpy as np

import csv
import os

In [2]:
conn = psycopg2.connect("dbname=spotify user=postgres password=jkjhs34mp")
conn.status

1

In [3]:
# CREATE CURSOR
cursor = conn.cursor()

In [4]:
cursor.execute("SELECT * FROM cancion;")
cursor.fetchone()

(1, 'New Rules', 10, 1, 1)

In [5]:
cursor.fetchmany(3)

[(2, 'Lost in Your Light', 2, 1, 1),
 (3, 'God Is a Woman', 5, 2, 2),
 (4, 'Into You', 4, 2, 3)]

In [6]:
cursor.fetchall()

[(5, 'Side To Side', 5, 2, 3),
 (6, 'Problem', 2, 2, 4),
 (7, 'Break Free', 5, 2, 4),
 (8, 'I Like It', 7, 3, 6),
 (9, 'Bad Blood', 8, 4, 8),
 (10, 'Blank Space', 2, 4, 8),
 (11, 'The Story of Us', 4, 4, 10),
 (12, 'Love Story', 3, 4, 11),
 (13, 'Havanna', 4, 5, 13),
 (14, 'One Dance', 12, 6, 15),
 (15, 'Too Much', 12, 6, 16),
 (16, 'Own It', 5, 6, 16),
 (17, 'Broken Whiskey Glass', 1, 7, 20),
 (18, 'Too Young', 11, 7, 20),
 (19, 'Train food', 3, 8, 21),
 (20, 'One Minute', 7, 8, 21)]

In [7]:
cursor.query

b'SELECT * FROM cancion;'

In [8]:
cursor.close()

Otra forma de utilizar un cursor

In [9]:
with conn.cursor() as cursor:
    cursor.execute('select * from cancion;')
    data = cursor.fetchall()
    cursor.close()
print(data)

[(1, 'New Rules', 10, 1, 1), (2, 'Lost in Your Light', 2, 1, 1), (3, 'God Is a Woman', 5, 2, 2), (4, 'Into You', 4, 2, 3), (5, 'Side To Side', 5, 2, 3), (6, 'Problem', 2, 2, 4), (7, 'Break Free', 5, 2, 4), (8, 'I Like It', 7, 3, 6), (9, 'Bad Blood', 8, 4, 8), (10, 'Blank Space', 2, 4, 8), (11, 'The Story of Us', 4, 4, 10), (12, 'Love Story', 3, 4, 11), (13, 'Havanna', 4, 5, 13), (14, 'One Dance', 12, 6, 15), (15, 'Too Much', 12, 6, 16), (16, 'Own It', 5, 6, 16), (17, 'Broken Whiskey Glass', 1, 7, 20), (18, 'Too Young', 11, 7, 20), (19, 'Train food', 3, 8, 21), (20, 'One Minute', 7, 8, 21)]

Utilizar la conexión directamente en pandas

In [10]:
query = 'select * from cancion;'
pd.read_sql(query,conn).head(5)

C:\Users\tomas\AppData\Local\Temp\ipykernel_28724\130111778.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql(query,conn).head(5)

   id_cancion      titulo_cancion  numero_de_track  id_artista  id_album
0           1           New Rules               10           1         1
1           2  Lost in Your Light                2           1         1
2           3      God Is a Woman                5           2         2
3           4            Into You                4           2         3
4           5        Side To Side                5           2         3

Ordenes a la base de datos

In [11]:
cursor2 = conn.cursor()
cursor2.execute('select * from data_titanic;')
data = cursor2.fetchone()
print(data)

UndefinedTable: no existe la relación «data_titanic»
LINE 1: select * from data_titanic;
                      ^

In [ ]:
cursor2.execute('''
    DROP TABLE
    data_titanic;
''')
conn.commit() # con rollback puedo volver atrás si no he hecho commit
cursor2.close()
conn.commit()

Create table with psycopg2

In [12]:

cursor_titanic = conn.cursor()
create_table = '''
                CREATE TABLE data_titanic(
                    index serial PRIMARY KEY,
                    PassengerID integer,
                    Survived boolean,
                    Pclass VARCHAR(50),
                    Name VARCHAR(255),
                    Sex VARCHAR(6),
                    Age float,
                    Sibsp integer, 
                    Parch integer,
                    Ticket VARCHAR(50), 
                    Fare float,
                    Cabin VARCHAR(50),
                    Embarked VARCHAR(50)
                );
                '''
cursor_titanic.execute(create_table)
conn.commit()

InFailedSqlTransaction: transacción abortada, las órdenes serán ignoradas hasta el fin de bloque de transacción

In [ ]:
insert_data = """
    INSERT INTO data_titanic
    VALUES(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)
"""

In [ ]:
with open('data/titanic.csv','r') as file:
    reader = csv.reader(file)
    next(reader)
    for row in reader:
        cursor_titanic.execute(insert_data,row)
        print(row)

In [ ]:
conn.commit()
cursor_titanic.close()

In [16]:
from sqlalchemy import create_engine
## dialect://username:password@host:post/database
engine = create_engine(f'postgresql://postgres:jkjhs34mp@localhost/spotify')
query = 'select * from cancion'
pd.read_sql(query,engine)

    id_cancion        titulo_cancion  numero_de_track  id_artista  id_album
0            1             New Rules               10           1         1
1            2    Lost in Your Light                2           1         1
2            3        God Is a Woman                5           2         2
3            4              Into You                4           2         3
4            5          Side To Side                5           2         3
5            6               Problem                2           2         4
6            7            Break Free                5           2         4
7            8             I Like It                7           3         6
8            9             Bad Blood                8           4         8
9           10           Blank Space                2           4         8
10          11       The Story of Us                4           4        10
11          12            Love Story                3           4        11
12          13               Havanna                4           5        13
13          14             One Dance               12           6        15
14          15              Too Much               12           6        16
15          16                Own It                5           6        16
16          17  Broken Whiskey Glass                1           7        20
17          18             Too Young               11           7        20
18          19            Train food                3           8        21
19          20            One Minute                7           8        21

In [17]:
canciones = pd.DataFrame({
    'titulo_cancion':['tinta y tiempo'],
    'artista':['jorge drexler'],
    'album': ['tinta y tiempo'],
    'numero_del_track':[7]
})

In [ ]:
str_conn = f'postgresql://postgres:jkjhs34mp@localhost/spotify'
canciones.to_sql('cancion', engine, if_exists= 'append', index=False)

Para hacer API

In [ ]:
from flask import Flask
from flask_restful import Api
from flask_marshmallow import Marshmallow
from flask_res
from flask_sqlalchemy import SQLAlchemy

app = Flask(__name__)