## Axiomas

$$ P(E) \geq 0, \forall E$$
$$ P(A \cup B) = P(A) + P(B) $$
$$ P(\Omega) = 1$$
$$ 0 \geq P(X) \geq 1 $$

### Dado
#### Espacio muestral
$$ \Omega = \{1, 2, 3, 4, 5 ,6\} $$

### Regla de Laplace

_"Si no hay indicio de sesgo, las probabilidades deberían ser idénticas"_

### Distribución uniforme

$$ P(x) = \frac{1}{|\Omega|}, \forall x \in \Omega$$
$$ |\Omega| = \text{Cardinalidad de } \Omega $$

"Probabilidad a priori: probabilidad sin información adicional de sesgo"

"Probabilidad a posteriori: esta influenciada por información adicional"

Ejemplo Dado:

$ P(x) = \frac{1}{6} \geq 0 $   1er Axioma ($\checkmark$)

$ P(2 \text{y} 4) = \frac{\text{Casos Favorables}}{\text{Casos Totales}} = \frac{2}{6} = \frac{1}{3}$   1er Axioma ($\checkmark$)

$ P(2) + P(4) = \frac{1}{6} + \frac{1}{6}= \frac{1}{3}$   2do Axioma ($\checkmark$)

$ P(1) + P(2) + P(3) + P(4) + P(5) + P(6) = \frac{1}{6} * 6 = 1$ 3er Axioma ($\checkmark$)

# Evento: Un evento es una "situación"

Evento A: Obtener un nº Par en un dado

Evento B: Obtener un múltiplo de 3

$\Omega = {1,\ldots,6}$

$P(A) = |\{2,4,6\}| / 6 = 3/6 =  1/2 $

$P(B) = |\{1,3\}| / 6 = 2/6 = 1/3 $

$ P(A \cup B) = |\{2,3,4,6\}| / 6 = 4/6 = 2/3$

Pero...

$ P(A) + P(B) = 1/2 + 1/3 $


Hay que eliminar $ P(A \cap B)  = |\{3\}|/6 = 1/6$

$ P(A) + P(B) - P(A \cap B) = P(A \cup B)$

$ 1/2 + 1/3 - 1/6 = 4/6$      $\checkmark$

$P(A) + P(B) = P(A \cup B)$ es solo para eventos disjuntos

$ P(A) + P(B) - P(A \cap B) = P(A \cup B)$ para caso general

# Lo anterior se llama Probabilidad a priori $\uparrow$

# Ahora veremos Probabilidad condicional (o a posteriori)

$$ P(A | B) $$

$ A | B $ se lee como $A$ dado $B$. Esto significa que vamos a calcular la probabilidad del evento A sabiendo que B ocurrió

![bola](bolas.png)

$P(B_{roja}) = 5/12$

$P(B_{verde}) = 7/12$

$P(B_{roja} | C_1) = 1/2$ 

La probabilidad de sacar una bola roja aumento porque solo estoy viendo las posibilidades de la caja 1, donde hay mayor proporcion de bolas rojas que en total

$P(B_{roja}| C_2) = 1/3$

 La probabilidad de sacar una bola roja disminuyo porque solo estoy viendo las posibilidades de la caja 2, donde hay menor proporcion de bolas rojas que en total

ML ->  Predecir -> Probabilidad

$P(Y | X) = ?$

### Caso titanic
$P(\text{Sobrevive} | \text{PClass})$

$P(\text{Sobrevive} | \text{Sex}) $

$P(\text{Sobrevive} | \text{Sex, PClass})$

# HASTA AQUI ES LO TEÓRICO

![tabla](tabla.png)

In [2]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'Tiempo': ['Soleado','Soleado','Nublado','Lluvioso','Lluvioso','Lluvioso','Nublado','Soleado','Soleado','Lluvioso','Soleado','Nublado', 'Nublado','Lluvioso'],'Jugar': [False, False, True, True, True, False, True, False, True, True, True, True, True, False]})

df

      Tiempo  Jugar
0    Soleado  False
1    Soleado  False
2    Nublado   True
3   Lluvioso   True
4   Lluvioso   True
5   Lluvioso  False
6    Nublado   True
7    Soleado  False
8    Soleado   True
9   Lluvioso   True
10   Soleado   True
11   Nublado   True
12   Nublado   True
13  Lluvioso  False

In [3]:
# Probabilidad de Jugar? Apriori

df["Jugar"].sum() / df.shape[0]    # 9/14

0.6428571428571429

In [4]:
df.Jugar.value_counts(normalize=True)

True     0.642857
False    0.357143
Name: Jugar, dtype: float64

In [5]:
df.Jugar.value_counts(normalize=True).sum() # Esto tiene que sumar 1 porque es la suma de todo el espacio muestral

1.0

In [6]:
# Probabilidad de que esté soleado?
p_soleado,_,_ = df.Tiempo.value_counts(normalize=True)
print(p_soleado)

0.35714285714285715

$$P(J^c \cup LL) = P(J^c) + P(LL) - P(J^c \cap  LL)$$

# Probabilidad de que no juegue o llueva?
p_no_juegue_o_llueva = (df.Jugar.sum() + (df.Tiempo == 'Lluvioso').sum()) / df.shape[0]
print(p_no_juegue_o_llueva)

In [7]:
# Permite entender de mejor manera q está pasando
cross_df = pd.crosstab(df.Tiempo, df.Jugar)
cross_df

Jugar     False  True
Tiempo
Lluvioso      2     3
Nublado       0     4
Soleado       3     2

In [8]:
pd.crosstab(df.Tiempo, df.Jugar).sum().sum()

14

$$P(J^c)$$

In [9]:
## Probabilidad de no jugar
pjc = cross_df[False].sum() / len(df)

$$P(LL)$$

In [10]:
pll = cross_df.loc['Lluvioso'].sum() / len(df)

$$P(J^c \cap LL)$$

In [11]:
pjcyll = cross_df.loc['Lluvioso', False] / len(df)
print(pjcyll)

0.14285714285714285

P$$P(J^c \cup LL)$$

In [12]:
pjcoll = pjc + pll - pjcyll
print(pjcoll)

0.5714285714285714

Probabilidad de jugar si es que está nublado

$$ P (J|N) = \frac{P(J \cap N)}{P(N)} $$

In [13]:
cross_df

Jugar     False  True
Tiempo
Lluvioso      2     3
Nublado       0     4
Soleado       3     2

In [14]:

pjn = (cross_df.loc["Nublado", True]/len(df)) / (cross_df.loc["Nublado"].sum()/len(df))
print(pjn)

1.0

In [15]:
# Probabilidad de jugar si es que está lluvioso
pjcll = (cross_df.loc['Lluvioso', True]/len(df)) / (cross_df.loc['Lluvioso'].sum()/len(df)) # Probabilidad de jugar dadi que llovio
print(pjcll)

0.6

### Probabilidad de que esté lluvioso  o soleado si es que salió a jugar

$$ P (LL \cup S | J)  = P(LL|J) + P(S|J) + P(LL \cap S | J)$$

In [16]:
cross_df

Jugar     False  True
Tiempo
Lluvioso      2     3
Nublado       0     4
Soleado       3     2

In [17]:
plldj = 3/9 # llover dado que jugue
psdj = 2/9 # soleado dado que juegue
pllsdj = 0 # no puede llover y estar soleado al mismo tiempo

pllusdj = plldj + psdj - pllsdj
print(pllusdj)

0.5555555555555556

In [18]:
# Lo mismo...
cross_df.loc[['Lluvioso','Soleado']][True].sum()/cross_df[True].sum()

0.5555555555555556

# Ejemplos con dataset titanic

In [19]:
df = pd.read_csv('../Clase_2022_06_07/titanic.csv')
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Signing_date
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1911-05-17
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1911-07-23
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1911-09-08
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1911-06-26
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,1911-10-25
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,1911-08-17
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,1911-08-07
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,1912-01-30
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,1911-08-08
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,1911-10-27

## Cual es la probabilidad a priori de sobrevivir?

$$P(S) = ?$$

In [20]:
# Sobrevivientes / total
p_surv = df.Survived.sum() / len(df)
print(p_surv)

df.Survived.value_counts(normalize=True)

0.3838383838383838

0    0.616162
1    0.383838
Name: Survived, dtype: float64

Probabilidad de embarcarse en SouthHampton

$$ P(E = SH)

In [21]:
print((df.Embarked == 'S').value_counts(normalize=True)[True])
(df.Embarked).value_counts(normalize=True, dropna = False)["S"] # value counts no considera nulos

0.7227833894500562

0.7227833894500562

### Cuál es la probabilidad de Sobrevivir si es que me embarqué en SH?

$$P(S|E=SH) = \frac{P(S \cap E=SH)}{P(E = SH)}$$

In [22]:
data = df.query('Embarked == "S"')
print(data['Survived'].value_counts(normalize=True)[1]) # correcto
print(data['Survived'].sum()/len(data))

df.groupby('Embarked').Survived.value_counts(normalize=True).loc[("S",1)]

0.33695652173913043
0.33695652173913043

0.33695652173913043

# Cual es la probabilidad de sobrevivir si me embarqué en SH o en Q

$$P(S | E = SH \cup E = Q)$$

In [23]:
df.Embarked.isin(['S','Q'])

0       True
1      False
2       True
3       True
4       True
       ...
886     True
887     True
888     True
889    False
890     True
Name: Embarked, Length: 891, dtype: bool

In [24]:
df['new_embarked'] = df.Embarked.mask(df.Embarked.isin(['S','Q']),'SoQ') # sies que embarked es S o Q, lo dejo como SoQ
df.groupby('new_embarked',dropna=False).Survived.value_counts(normalize=True, dropna = False)#[('SoQ',0)]

new_embarked  Survived
C             1           0.553571
              0           0.446429
SoQ           0           0.657420
              1           0.342580
NaN           1           1.000000
Name: Survived, dtype: float64

In [25]:
df.groupby('new_embarked', dropna=False).Survived.value_counts(normalize=True, dropna=False)

new_embarked  Survived
C             1           0.553571
              0           0.446429
SoQ           0           0.657420
              1           0.342580
NaN           1           1.000000
Name: Survived, dtype: float64

In [26]:
# hay 2 que embarcaron nulo

df[df.Embarked.isnull()]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Signing_date,new_embarked
61,62,1,1,"Icard, Miss. Amelie",female,38.0,0,0,113572,80.0,B28,NaN,1911-11-05,NaN
829,830,1,1,"Stone, Mrs. George Nelson (Martha Evelyn)",female,62.0,0,0,113572,80.0,B28,NaN,1911-11-23,NaN

# TAREA
# Cual es la probabilidad de Sobrevivir si me embarqué en S y Soy Primera Clase

$$P(S | E= SH \cap C = 1)$$

In [27]:
df.Embarked.isin(['S']) & df.Pclass.isin([1])

0      False
1      False
2      False
3       True
4      False
       ...
886    False
887     True
888    False
889    False
890    False
Length: 891, dtype: bool

In [29]:

df['sh_and_1class'] = df.Embarked.mask(df.Embarked.isin(['S']) & df.Pclass.isin([1]),'SH_1C') # sies que embarked es S y embarco en 1º clase, lo dejo como SH_1C
# df.head()
df.groupby('sh_and_1class',dropna=False).Survived.value_counts(normalize=True, dropna = False)['SH_1C']

Survived
1    0.582677
0    0.417323
Name: Survived, dtype: float64